/.classpath
/.depcache
/.project
/.settings
/hs_err_pid*.log
/last_junit_suite.log
/*.sublime-project
/*.sublime-workspace
/.tags
/.idea
/.DS_Store
.DS_Store
.cache/
*.pyc
*.swp
*~
*runapp*.py
*.log
*.iml
host*+0000.txt
voltdb_crash*
buildstring.txt
obj/
groovyout/
debugoutput/
statement-plans/
catalog-report.html
voltdbroot/
log/
tests/test_apps/*/*.jar
bin/
voltdb-rabbitmq.jar
